@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: 'Poppins', sans-serif; }

body {
  height: 100vh;
  width: 100vw;
  background-color: #1B191D;
  overflow-y: hidden; }
  body section {
    height: 80%;
    width: 100vw; }
  body footer {
    height: 20%;
    width: 100vw; }

.headerPalabrasOn {
  background-image: url(../assets/svg/icons/createHeader.svg) !important; }

.headerFrasesOn {
  background-image: url(../assets/svg/icons/saveHeaderOn.svg) !important; }

header {
  height: 15%;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center; }
  header .logoHeader {
    display: flex;
    align-items: center;
    justify-content: center; }
  header .navbarHeader {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%; }
    header .navbarHeader .buttonPalabras {
      width: 20px;
      height: 20px;
      transition: all .5s;
      background-image: url(../assets/svg/icons/createHeaderOff.svg); }
      header .navbarHeader .buttonPalabras:hover {
        background-image: url(../assets/svg/icons/createHeader.svg); }
    header .navbarHeader .buttonFrases {
      margin-left: 30px;
      height: 20px;
      width: 17px;
      transition: all .5s;
      background-repeat: no-repeat;
      background-image: url(../assets/svg/icons/saveHeaderOff.svg); }
      header .navbarHeader .buttonFrases:hover {
        background-image: url(../assets/svg/icons/saveHeaderOn.svg); }
    header .navbarHeader button {
      cursor: pointer;
      font-size: 16px;
      background-color: transparent;
      color: rgba(255, 255, 255, 0.74);
      font-weight: 300; }
      header .navbarHeader button:hover {
        color: #F1E8FA;
        transition: all .5s; }
    header .navbarHeader .navbarSelected {
      font-weight: 500;
      color: #F1E8FA; }

.containerPalabrasOn {
  transform: translateX(-100vh) !important; }

.containerFrasesOn {
  transform: translateX(0vw) !important; }

.overYHidden {
  overflow: hidden !important; }

.main {
  height: 85%;
  width: 100vw;
  display: flex;
  overflow-y: hidden; }
  .main::-webkit-scrollbar {
    display: none; }
  .main .containerPalabras {
    position: absolute;
    width: 100%;
    justify-content: center;
    transition: .6s;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 100%;
    overflow-y: scroll !important;
    align-content: flex-start; }
    .main .containerPalabras::-webkit-scrollbar {
      width: 5px;
      transition: all 1s; }
    .main .containerPalabras::-webkit-scrollbar-thumb {
      background: #C9308C;
      border-radius: 10px;
      transition: all 1s; }
      .main .containerPalabras::-webkit-scrollbar-thumb:hover {
        background: #A02A71; }
    .main .containerPalabras .crearButton {
      cursor: pointer;
      transition: all .5s;
      padding-inline: 20px;
      border-radius: 7px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 75%;
      height: 7vh;
      background-color: #C9308C;
      color: #F1E8FA;
      margin-bottom: 25px; }
      .main .containerPalabras .crearButton:hover {
        background-color: #A02A71; }
      .main .containerPalabras .crearButton p {
        font-weight: 500; }
    .main .containerPalabras .optionWord {
      cursor: pointer;
      padding-inline: 20px;
      border-radius: 7px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 75%;
      padding-block: 2vh;
      background-color: #F1E8FA;
      color: #1B191D;
      margin-bottom: 25px;
      transition: all .5s; }
      .main .containerPalabras .optionWord:hover p {
        color: #C9308C; }
      .main .containerPalabras .optionWord p {
        max-width: 100%;
        transition: all .5s;
        color: #717171;
        font-weight: 500; }
  .main .containerFrases {
    height: 100%;
    width: 100%;
    position: relative;
    transition: .6s;
    background-color: #1B191D;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100vh);
    overflow-y: scroll !important; }
    .main .containerFrases::-webkit-scrollbar {
      width: 5px;
      transition: all 1s; }
    .main .containerFrases::-webkit-scrollbar-thumb {
      background: #C9308C;
      border-radius: 10px;
      transition: all 1s; }
      .main .containerFrases::-webkit-scrollbar-thumb:hover {
        background: #A02A71; }
    .main .containerFrases p {
      color: rgba(255, 255, 255, 0.33); }
    .main .containerFrases .savedWord {
      cursor: pointer;
      padding-inline: 20px;
      border-radius: 7px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 75%;
      padding-block: 2vh;
      background-color: #F1E8FA;
      color: #1B191D;
      margin-bottom: 25px;
      transition: all .5s; }
      .main .containerFrases .savedWord:hover p {
        color: #C9308C; }
      .main .containerFrases .savedWord p {
        max-width: 100%;
        transition: all .5s;
        color: #717171;
        font-weight: 500; }
  .main .inicioInfo p {
    font-size: 14px;
    margin-inline: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.33); }

footer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  z-index: 100; }
  footer .resultFraseContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: #4F203E; }
    footer .resultFraseContainer .saveButton {
      position: relative; }
    footer .resultFraseContainer p {
      display: flex;
      margin-top: 5px;
      align-items: center;
      height: 100%;
      white-space: nowrap;
      overflow-x: scroll;
      padding-left: 5%;
      width: 85%;
      font-weight: 300;
      color: rgba(255, 255, 255, 0.45); }
      footer .resultFraseContainer p::-webkit-scrollbar {
        height: 7px;
        transition: all 1s; }
      footer .resultFraseContainer p::-webkit-scrollbar-thumb {
        background: #F1E8FA;
        border-radius: 10px;
        transition: all 1s; }
        footer .resultFraseContainer p::-webkit-scrollbar-thumb:hover {
          background: #f4e9ff9c; }
    footer .resultFraseContainer button {
      width: 10%;
      margin-inline: 2%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: transparent;
      cursor: pointer; }
  footer .playAndSaveContainer {
    height: 100%;
    background-color: #C9308C;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4%; }
    footer .playAndSaveContainer .playButton {
      color: #C9308C;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-inline: 7%;
      height: 55%;
      width: 50%;
      cursor: pointer;
      border-radius: 100px;
      background-color: #F1E8FA;
      transition: all .5s; }
      footer .playAndSaveContainer .playButton:hover {
        background-color: #DBD3E3; }
    footer .playAndSaveContainer .voiceButton {
      cursor: pointer;
      border-radius: 100px;
      background-color: #F1E8FA;
      display: grid;
      justify-content: center;
      align-items: center;
      height: 50%;
      width: 15%;
      transition: all .5s; }
      footer .playAndSaveContainer .voiceButton:hover {
        background-color: #DBD3E3; }

.createToggleONBackground {
  opacity: 100 !important;
  pointer-events: all !important;
  background-color: rgba(0, 0, 0, 0.41) !important; }

.createToggle {
  transition: all .5s;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  position: fixed;
  z-index: 1; }
  .createToggle div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 35%;
    width: 100%;
    background-color: #F1E8FA; }
    .createToggle div p {
      color: #1B191D;
      font-size: 14px;
      text-align: center;
      margin-inline: 15%;
      font-weight: 500; }
    .createToggle div div {
      margin-top: 15px;
      margin-bottom: 15px;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center; }
      .createToggle div div input {
        margin-inline: 10vw;
        padding-inline: 15px;
        background: rgba(16, 15, 17, 0.06);
        border-radius: 7px 7px 0px 0px;
        height: 20vh; }
      .createToggle div div button {
        cursor: pointer;
        margin-inline: 10vw;
        border-radius: 0px 0px 7px 7px;
        background-color: #C9308C;
        color: #F1E8FA;
        font-weight: 500;
        transition: all .5s;
        height: 20vh; }
        .createToggle div div button:hover {
          background-color: #A02A71; }
  .createToggle .cancelButton {
    background-color: transparent;
    font-weight: 500; }
    .createToggle .cancelButton p {
      transition: all .5s;
      color: #1b191d68; }
      .createToggle .cancelButton p:hover {
        color: #1b191ddf; }

.menuGenderBackgroundON {
  opacity: 100 !important;
  pointer-events: all !important;
  background-color: rgba(0, 0, 0, 0.41) !important; }

.menuGenderBackground {
  transition: all .5s;
  z-index: 2;
  height: 100vh;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.41) !important;
  pointer-events: none;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw; }

.speakerVoice {
  font-size: 14px;
  color: #1B191D;
  font-weight: 500;
  text-align: center; }

.container {
  width: 100vw;
  background-color: #F1E8FA;
  margin: 40px auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: 30px;
  padding-block: 25px; }
  .container div {
    display: flex;
    justify-content: center;
    width: 100vw; }
  .container select {
    color: #C9308C;
    font-weight: 600;
    background-color: #E4DBEC;
    padding-block: 2vh;
    padding-left: 10px;
    padding-right: 10%;
    border-radius: 7px;
    width: 90%;
    margin-block: 15px;
    background-image: url(../assets/svg/icons/Vector.svg);
    background-repeat: no-repeat;
    background-position: 96%;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none; }
  .container select::-ms-expand {
    display: none; }
  .container button {
    background-color: transparent;
    color: #7F7A85;
    font-weight: 500;
    font-size: 14px;
    cursor: default;
    transition: all .5s; }
    .container button:hover {
      color: #1b191ddf; }
  .container ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden; }
    .container ul li {
      cursor: pointer;
      font-size: 14px;
      background-color: #E4DBEC;
      height: 8vh;
      margin-block: 15px;
      padding-inline: 20px;
      font-weight: 500;
      display: flex;
      border-radius: 7px;
      justify-content: space-between;
      align-items: center; }
      .container ul li label {
        cursor: pointer;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center; }
