@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
input {
  font-size: 16px !important; }
  input:active, input:focus, input:focus-within, input:hover, input:visited {
    font-size: 16px !important; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select:focus, textarea:focus, input:focus {
    font-size: 16px; } }

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: 'Poppins', sans-serif; }

html {
  height: 100%; }

body {
  height: 100%;
  width: 100vw;
  background-color: #1B191D;
  overflow-y: scroll !important; }
  body section {
    height: 80%;
    width: 100vw; }
  body footer {
    height: 20%;
    width: 100vw; }

.welcomeSpeakoOn {
  transform: translateY(0vh) !important; }

.welcomeSpeako {
  position: fixed;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  z-index: 99;
  background-color: #262329;
  transition: all .7s;
  transform: translateY(-100vh); }
  .welcomeSpeako img {
    width: 40vw; }
  .welcomeSpeako p {
    text-align: center;
    color: #F1E8FA;
    margin-block: 4vh;
    font-size: 16px;
    margin-inline: 5vw; }
    .welcomeSpeako p strong {
      color: #C9308C;
      font-size: 400; }
  .welcomeSpeako button {
    cursor: pointer;
    background-color: #C9308C;
    font-size: 16px;
    width: 60%;
    max-width: 250px;
    border-radius: 100px;
    height: 6.5%;
    transition: all .5s;
    color: #F1E8FA; }
    .welcomeSpeako button:hover {
      background-color: #A02A71; }
  .welcomeSpeako a {
    margin-top: 15px;
    cursor: pointer;
    transition: all .5s;
    color: #7E7C7F; }
    .welcomeSpeako a:hover {
      color: #F1E8FA; }

.headerPalabrasOn {
  background-image: url(../assets/svg/icons/createHeader.svg) !important; }

.headerFrasesOn {
  background-image: url(../assets/svg/icons/saveHeaderOn.svg) !important; }

header {
  height: 15%;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding-inline: 8%; }
  header .logoHeader {
    display: flex;
    align-items: center;
    width: 50%; }
    header .logoHeader img {
      cursor: pointer; }
  header .navbarHeader {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%; }
    header .navbarHeader .buttonPalabras {
      width: 20px;
      height: 20px;
      transition: all .5s;
      background-image: url(../assets/svg/icons/createHeaderOff.svg); }
      header .navbarHeader .buttonPalabras:hover {
        background-image: url(../assets/svg/icons/createHeader.svg); }
    header .navbarHeader .buttonFrases {
      margin-left: 30px;
      height: 20px;
      width: 17px;
      transition: all .5s;
      background-repeat: no-repeat;
      background-image: url(../assets/svg/icons/saveHeaderOff.svg); }
      header .navbarHeader .buttonFrases:hover {
        background-image: url(../assets/svg/icons/saveHeaderOn.svg); }
    header .navbarHeader button {
      cursor: pointer;
      font-size: 16px;
      background-color: transparent;
      color: rgba(255, 255, 255, 0.74);
      font-weight: 300; }
      header .navbarHeader button:hover {
        color: #F1E8FA;
        transition: all .5s; }
    header .navbarHeader .navbarSelected {
      font-weight: 500;
      color: #F1E8FA; }

.containerPalabrasOn {
  transform: translateX(-100vh) !important; }

.containerFrasesOn {
  transform: translateX(0vw) !important; }

.overYHidden {
  overflow: hidden !important; }

.main {
  height: 85%;
  width: 100vw;
  display: flex;
  overflow-y: hidden; }
  .main::-webkit-scrollbar {
    display: none; }
  .main .containerPalabras {
    position: absolute;
    width: 100%;
    justify-content: center;
    transition: .6s;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 68%;
    overflow-y: scroll !important;
    align-content: flex-start; }
    .main .containerPalabras .containerOptions {
      width: 100%;
      justify-content: center;
      transition: .6s;
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      align-content: flex-start; }
    .main .containerPalabras::-webkit-scrollbar {
      width: 5px;
      transition: all 1s; }
    .main .containerPalabras::-webkit-scrollbar-thumb {
      background: #C9308C;
      border-radius: 10px;
      transition: all 1s; }
      .main .containerPalabras::-webkit-scrollbar-thumb:hover {
        background: #A02A71; }
    .main .containerPalabras .searchContainer {
      background-color: #373439;
      width: 75%;
      display: flex;
      justify-content: space-between;
      border-radius: 7px;
      padding-inline: 20px;
      margin-bottom: 25px; }
      .main .containerPalabras .searchContainer .searcher {
        color: #F1E8FA;
        font-size: 16px;
        padding-block: 2vh;
        background-color: transparent;
        font-weight: 500;
        width: 95%; }
    .main .containerPalabras .crearButton {
      cursor: pointer;
      transition: all .5s;
      padding-inline: 20px;
      border-radius: 7px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 75%;
      height: 7vh;
      background-color: #C9308C;
      color: #F1E8FA;
      margin-bottom: 25px; }
      .main .containerPalabras .crearButton:hover {
        background-color: #A02A71; }
      .main .containerPalabras .crearButton p {
        font-weight: 500; }
    .main .containerPalabras .optionWord {
      cursor: pointer;
      padding-inline: 20px;
      border-radius: 7px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 75%;
      padding-block: 2vh;
      background-color: #F1E8FA;
      color: #1B191D;
      margin-bottom: 25px;
      transition: all .5s; }
      .main .containerPalabras .optionWord:active {
        background-color: #F1E8FA; }
      .main .containerPalabras .optionWord:hover {
        box-shadow: 0px 0px 0px 4px #C9308C; }
        .main .containerPalabras .optionWord:hover p {
          color: #C9308C; }
      .main .containerPalabras .optionWord p {
        max-width: 100%;
        transition: all .5s;
        color: #717171;
        font-weight: 500; }
  .main .containerFrases {
    height: 68%;
    padding-top: 4px;
    width: 100%;
    position: relative;
    transition: .6s;
    background-color: #1B191D;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100vw);
    overflow-y: scroll !important; }
    .main .containerFrases .frasesTitle p {
      font-size: 20px;
      color: #C9308C;
      font-weight: 500;
      margin-bottom: 10px; }
    .main .containerFrases .textFrases {
      display: flex;
      color: #929193;
      align-items: center; }
      .main .containerFrases .textFrases img {
        margin-inline: 4px; }
    .main .containerFrases::-webkit-scrollbar {
      width: 5px;
      transition: all 1s; }
    .main .containerFrases::-webkit-scrollbar-thumb {
      background: #C9308C;
      border-radius: 10px;
      transition: all 1s; }
      .main .containerFrases::-webkit-scrollbar-thumb:hover {
        background: #A02A71; }
    .main .containerFrases p {
      color: rgba(255, 255, 255, 0.33); }
    .main .containerFrases .savedWord {
      cursor: pointer;
      padding-inline: 20px;
      border-radius: 7px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 75%;
      padding-block: 2vh;
      background-color: #F1E8FA;
      color: #1B191D;
      margin-bottom: 25px;
      transition: all .5s; }
      .main .containerFrases .savedWord:active {
        background-color: #F1E8FA; }
      .main .containerFrases .savedWord:hover {
        box-shadow: 0px 0px 0px 4px #C9308C; }
        .main .containerFrases .savedWord:hover p {
          color: #C9308C; }
      .main .containerFrases .savedWord p {
        max-width: 100%;
        transition: all .5s;
        color: #717171;
        font-weight: 500; }
  .main .inicioInfo p {
    font-size: 14px;
    margin-inline: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.33); }

footer {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100vw;
  z-index: 10; }
  footer .resultFraseContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35%;
    background-color: #4F203E; }
    footer .resultFraseContainer .saveButton {
      position: relative;
      margin-top: 2px;
      margin-right: 3%; }
    footer .resultFraseContainer .removeOption {
      margin-right: 2%; }
    footer .resultFraseContainer p {
      display: flex;
      margin-top: 5px;
      align-items: center;
      height: 100%;
      white-space: nowrap;
      overflow-x: scroll;
      padding-left: 5%;
      width: 85%;
      font-weight: 300;
      color: rgba(255, 255, 255, 0.45); }
      footer .resultFraseContainer p::-webkit-scrollbar {
        height: 7px;
        transition: all 1s; }
      footer .resultFraseContainer p::-webkit-scrollbar-thumb {
        background: #F1E8FA;
        border-radius: 10px;
        transition: all 1s; }
        footer .resultFraseContainer p::-webkit-scrollbar-thumb:hover {
          background: #f4e9ff9c; }
    footer .resultFraseContainer button {
      position: relative;
      width: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: transparent;
      cursor: pointer; }
  footer .playAndSaveContainer {
    height: 65%;
    background-color: #C9308C;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 2.5%; }
    footer .playAndSaveContainer .playButton {
      color: #C9308C;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-inline: 7%;
      height: 55%;
      width: 50%;
      cursor: pointer;
      border-radius: 400px;
      background-color: #F1E8FA;
      transition: all .5s; }
      footer .playAndSaveContainer .playButton:hover {
        transform: scale(1.02); }
    footer .playAndSaveContainer .voiceButton {
      cursor: pointer;
      border-radius: 400px;
      background-color: #F1E8FA;
      display: grid;
      justify-content: center;
      align-items: center;
      height: 50%;
      width: 15%;
      max-width: 60px;
      transition: all .5s;
      background-repeat: no-repeat;
      background-position: center;
      transition: all .5s;
      background-image: url(../assets/svg/icons/save.svg); }
      footer .playAndSaveContainer .voiceButton:hover {
        transform: scale(1.03); }

.voiceButtonClose {
  background-image: url(../assets/svg/icons/closeGender.svg) !important; }

.createToggleONBackground {
  opacity: 100 !important;
  pointer-events: all !important;
  z-index: 100 !important;
  background-color: rgba(0, 0, 0, 0.41) !important; }

.createToggle {
  transition: all .5s;
  width: 100vw;
  height: 100%;
  background-color: #1B191D;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  position: fixed;
  z-index: 1; }
  .createToggle div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 35%;
    width: 100%;
    background-color: #262329; }
    .createToggle div p {
      color: #F1E8FA;
      font-size: 14px;
      text-align: center;
      margin-inline: 15%;
      font-weight: 500; }
    .createToggle div div {
      margin-top: 15px;
      margin-bottom: 15px;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center; }
      .createToggle div div input {
        color: #F1E8FA;
        margin-inline: 10vw;
        padding-inline: 15px;
        background: #1F1C21;
        font-size: 14px !important;
        border-radius: 7px 7px 0px 0px;
        height: 20vh; }
      .createToggle div div button {
        cursor: pointer;
        margin-inline: 10vw;
        border-radius: 0px 0px 7px 7px;
        background-color: #C9308C;
        color: #F1E8FA;
        font-weight: 500;
        transition: all .5s;
        height: 20vh; }
        .createToggle div div button:hover {
          background-color: #A02A71; }
  .createToggle .cancelButton {
    background-color: transparent;
    font-weight: 500; }
    .createToggle .cancelButton p {
      transition: all .5s;
      color: #767478; }
      .createToggle .cancelButton p:hover {
        color: #CDCCCD; }

.menuGenderBackgroundON {
  opacity: 100 !important;
  pointer-events: all !important;
  background-color: rgba(0, 0, 0, 0.41) !important; }

.menuGenderBackground {
  transition: all .5s;
  z-index: 2;
  height: 80%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.41) !important;
  overflow: hidden;
  pointer-events: none;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100vw; }

.speakerVoice {
  font-size: 18px;
  color: #C9308C;
  font-weight: 600;
  text-align: center;
  margin: 15px; }

.container {
  width: 100vw;
  background-color: #262329;
  height: auto;
  transform: translateY(100vh);
  transition: all 1s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 30px;
  padding-block: 25px; }
  .container div {
    display: flex;
    justify-content: center;
    width: 100vw; }
  .container .containerConfig {
    margin-block: 15px;
    display: flex;
    height: 20vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    background-color: #1E1C21;
    border-radius: 7px; }
    .container .containerConfig .containerRange {
      height: 50%;
      background-color: transparent;
      width: 85%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      transition: all .5s; }
      .container .containerConfig .containerRange:hover p {
        color: #C9308C; }
      .container .containerConfig .containerRange p {
        margin-right: 10px;
        color: #F1E8FA;
        font-size: 14px;
        font-weight: 500;
        transition: all .5s; }
      .container .containerConfig .containerRange #rate {
        cursor: grab;
        width: inherit;
        border-radius: 30px;
        height: 10px;
        /* Specified height */
        background: #424242;
        /* Grey background */
        outline: none;
        /* Remove outline */
        opacity: 0.7;
        /* Set transparency (for mouse-over effects on hover) */
        -webkit-transition: .2s;
        /* 0.2 seconds transition on hover */
        transition: opacity .2s; }
        .container .containerConfig .containerRange #rate:active {
          cursor: grabbing; }
    .container .containerConfig select {
      color: #F1E8FA;
      font-size: 14px;
      height: 50%;
      font-weight: 500;
      background-color: transparent;
      padding-block: 2vh;
      padding-left: 10px;
      padding-right: 10%;
      border-radius: 7px;
      width: 90%;
      background-image: url(../assets/svg/icons/Vector.svg);
      background-repeat: no-repeat;
      background-position: 96%;
      -webkit-appearance: none;
      -moz-appearance: none;
      -o-appearance: none;
      appearance: none;
      transition: all .5s; }
      .container .containerConfig select:hover {
        color: #C9308C; }
      .container .containerConfig select option {
        background-color: #1B191D; }
        .container .containerConfig select option:hover {
          color: #F1E8FA; }
    .container .containerConfig select::-ms-expand {
      display: none; }
    .container .containerConfig button {
      color: #7F7A85;
      font-weight: 500;
      font-size: 14px;
      cursor: default;
      transition: all .5s; }
      .container .containerConfig button:hover {
        color: #1b191ddf; }
    .container .containerConfig ul {
      list-style: none;
      margin: 0;
      padding: 0;
      overflow: hidden; }
      .container .containerConfig ul li {
        cursor: pointer;
        font-size: 14px;
        background-color: #E4DBEC;
        height: 8vh;
        margin-block: 15px;
        padding-inline: 20px;
        font-weight: 500;
        display: flex;
        border-radius: 7px;
        justify-content: space-between;
        align-items: center; }
        .container .containerConfig ul li label {
          cursor: pointer;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center; }

.closeGenderSelector {
  color: #7F7A85;
  background: none;
  font-size: 14px;
  font-weight: 500;
  transition: all .5s; }
  .closeGenderSelector:hover {
    color: white; }

.noResult {
  color: #7F7A85;
  transition: all .5s; }
  .noResult:hover {
    color: #F1E8FA; }

.noScroll {
  overflow: hidden;
  transition: all 1s; }

.menuGenderToggle {
  transform: translateY(0vh) !important; }
