@media (max-width:1200px){
    .finishBuy{
        .modalFinish{
            height: 40%;
            width: 60%;
        }
    }
    body{
        .header{
            padding-inline: 25px ;
            .closeSneakerCard{
                
                    width: 8px;
                margin-right: 15px;
            }

            .logoHeader{
                width: 90px;
            }
            .navbar{
                ul{
                    li{
                        button{
                            font-size: 12px;
                            img{
                                width: 12.5px;
                            }
                        }
                    }
                }
            }
        }
    }
    .section1{
        .section1Container{
            img{
                width: 40% ;
            }
        }
    }
    .section2{
        .MPSTitle{
            p{
                font-size: 18px;
            }
        }
        .sneakerCard{
            height: 400px ;
            width: 300px;
            .sellerName{
                font-size: 14px !important;

            }
            .sneakerName{
                font-size: 22px !important;
            }
            .sneakerPrice{
                font-size: 20px !important;
            }
        }
    }
    .section3{
        .SOTWTextContent{
            .contentSOTW{
                div{
                    p{
                        font-size: 14px;
                        strong{
                            font-size: 20px;
                        }
                    }
                }
            }
            .priceAndCart{
                p{
                    font-size: 20px !important;
                }
                button{
                    font-size: 14px !important;
                }
            }
        }
    }
    .section4{
        .backgroundBenefit{
            .textBenefit{
                h3{
                    font-size: 16px;
                }
                p{
                    font-size: 14px;
                }
            }
        }
    }
    .section5{
        .contentSuscribe{
            div{
                h3{
                    font-size: 24px;
                }
                p{
                    font-size: 14px;
                }
                .suscribeInput{
                    input{
                        font-size: 14px;
                        height: 80%;
                    }
                    button{
                        height: 80%;
                        width: 20%;
                        img{
                            width: 16px;
                        }
                    }
                }
            }
        }
    }
    footer{
        .footer{
            img{
                width: 100px;
            }
            ul{
                li{
                    font-size: 14px;
                    img{
                        width: 30px;
                    }
                }
            }
        }
        .credits{
            font-size: 14px;
        }
    }
    .sneakerSelected{
        .imageSneakerSelected{
            img{

            }
        }
        .sectionInfoSneaker{
            padding-inline: 40px;
            padding-block: 30px;
            .infoSneakerSelected{
                .nameComplete{
                    .brandName{
                        font-size: 14px;
                    }
                    h3{
                        font-size: 28px;
                    }
                    .modelName{
                        font-size: 22px;

                    }
                }
                .rateStars{
                    img{
                        width: 100px;
                    }
                }
                .priceSneaker{
                    p{
                        font-size: 30px ;
                    }
                }
                .sizeSneaker{
                    p{
                        font-size: 14px;

                    }
                    ul{
                       li{
                        button{
                            font-size: 14px;
                        }
                       } 
                    }
                }
                .amountSneaker{
                    p{
                        font-size: 14px;
                    }
                    div{
                        button{
                            font-size: 14px;
                        }
                        input{
                            font-size: 14px;
                        }
                    }
                }
            }
            .addButtonCartSneakerSelected{
                .buttonATC{
                    font-size: 14px;
                }
            }
        }
    }
    .sectionSneakers{
        .filterContainer{
            width: 90% !important;
            select, input{
                font-size: 12px !important;
                width: 15vw !important;
            }
        }
    }
    .allSneakers{
        .sneakerCard{
            height: 400px !important;
            width: 300px !important;
            .sellerName{
                font-size: 14px !important;

            }
            .sneakerName{
                font-size: 22px !important;
            }
            .sneakerPrice{
                font-size: 20px !important;
            }
        }
    }
    .sectionCart{
        .cartContainer{
            .myCartTitle{
                p{
                    font-size: 120%;
                }
            }
            width: 80% ;
            .sneakerObjet{
                height: 18vh !important;
                .sneakerCartName{
                    h3{
                        font-size: 14px !important;
                    }
                    p{
                        font-size: 12px !important;

                    }
                }
                .ObjectDataCart{
                    p{
                        font-size: 14px !important;

                    }
                }
            }
        }
        .totalCountCart{
            p{
                font-size: 12px  !important;
            }
        }
    }
    .cartContainerSecondStep{
        .myCartTitleSecondStep{
            p{
                font-size: 120% !important;
            }
        }
    }
}
@media (max-width:800px){
    body{
        .section1{
            padding-top: 8vh;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            .section1Container{
                width: 70%;
                flex-direction: column-reverse;
                justify-content: center;
                align-items: flex-start;
                gap: 5vh;

                h1{
                    font-size: 8vw;
                    width: 110%;
                }
                img{
                    width: 100%;
    
                }
            }
        }
        .section3{
            flex-direction: column;
            height: auto;
            .imageSOTW{
                width: 100%;
                height: 90vh !important;
            }
            .SOTWTextContent{
                width: 100%;
                min-height: 70vh;
                height: auto;
            }
        }

    }
    .section4{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        .backgroundBenefit{
            justify-content: center !important;
            align-items: center;
        }
        .textBenefit{
            display: flex;
            height: 45% !important;
            border-radius: 30px;

            width: 70% ;
            h3{
                margin-bottom: 5px !important;
            }
            p{
                width: 85% !important;
            }
        }
        .backgroundBenefit2{
            box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.40);
        }
    }
    .section5{
        justify-content: center;

        .contentSuscribe{
            border-radius: 30px;
            height: 60vh;
            width: 70%;
        }
    }
    .sectionSneakers{
        .filterContainer{
            .filtersContainer{
                select, input{
                    width: 22vw !important;
                }
            }
            .searcherContainer{
                input{
                    padding-left: 12px;
                    width: 20vw !important;
                }
                img{
                    margin-right: 12px;

                }
            }
            }
    }
    .sneakerSelected{
        flex-direction: column;
        .imageSneakerSelected{
            width: 100%;
            height: 40%;
        }
        .imageSneakerSelected{
            img{
                height: 100%;
                width: auto;
            }
        }
        .sectionInfoSneaker{
            width: 100%;
            height: 60%;
            .infoSneakerSelected{
                justify-content: flex-start ;
                height: 85%;
                .rateStars{
                    display: none;
                }
                .priceSneaker{
                    margin-block: 2.5%;
                }
                .amountSneaker{
                    margin-top: 2.5%;
                }
            }

            .addButtonCartSneakerSelected{
                height: 15%;
             .buttonATC{
                font-size: 1rem;
             }
            }

        }
    }
    .section1Container{

    }
    .sectionCart{
        .cartContainer{
            width: 100%;
            .totalContainer{
                width: 86% !important;
            }
            .clearButton{
                width: 12% !important;
                min-width: 78px;
                margin-right: 10px;
                p{
                    display: none;
                }
                img{
                    display: block !important;
                    width: 12.5px;
                }
            }
            .sneakerObjet{
                flex-direction: column !important;
                height: 30vh !important;
                .sneakerDataCart{
                    justify-content: flex-start !important;
                    padding-left: 3%;
                    width: 100% !important;
                    border-radius: 30px 30px 0px 0px !important;
                    .imageSneakerCart{
                        width: auto !important;
                    }
                    .sneakerCartName{
                        h3{
                            font-size: 14px !important;
                        }
                        p{
                            font-size: 12px !important;
                        }
                    }
                }
                .ObjectDataCart{
                    width: 100% !important;
                    border-radius: 0px 0px 30px 30px !important;
                    height: 60% ;
                }
            }
        }
    }
    .buttonsCartContainer{
        .buttonPurchase{
            p{
                font-size: 14px !important;
            }
        }
    }
    .totalCountCart{
        .totalAndClear{
            .totalContainer{
                p{
                    font-size: 14px !important;
                }
            }
        }
    }
    .cartContainerSecondStep{
        overflow-y: scroll;
    }
    .PayDataContainer{
        flex-direction: column;
        height: auto !important;
        .emailPayMethod{
            width: 100% !important;
            .emailContainer{
                height: 15vh !important;
                border-radius: 30px 30px 0px 0px !important;
                .emailStep2{
                    border-radius: 100px !important;
                    height: 50% !important;
                    font-size: 14px !important;
                }
            }
            .payMethod{
                height: 37vh !important;
                border-radius: 0px !important;
                justify-content: flex-start !important;
                .method{
                    border-radius: 100px !important;
                    height: 22% !important;
                    padding-left: 6.5% !important;
                    img{
                        height: 20px;
                    }
                    p{
                        font-size: 14px !important;
                    }
                }
            }

        }
        .discountAndSummary{
            width: 100% !important;
            flex-direction: column-reverse !important;
            .discount{
                p{
                    width: 78%;
                    font-size: 18px !important;
                    font-weight: 600;
                    margin-bottom: 3%;
                }
                border-radius: 0px 0px 30px 30px !important;
                padding-bottom: 5%;
                height: 23vh !important;
                input{
                    height: 40% !important;
                    border-radius: 100px !important;
                    width: 85% !important;
                    margin-block: 2% !important;
                }
                .buttonDiscount{
                    height: 40% !important;
                    border-radius: 100px !important;
                    width: 85% !important;
                }
            }
            .paymentSum{
                border-radius: 0px !important;
                padding-block: 0% !important;
                padding-bottom: 8% !important;
                padding-inline: 11% !important;
                .summaryContainer{
                    div{
                        p{
                            font-size: 14px !important;
                        }
                    }
                }
            }
        }
    }
    .buttonPurchase-SecondStep{
        border-radius: 100px !important;
    }
    .buttonBTS-SecondStep{
        p{
            font-size: 14px !important;
        }
    }
    .finishBuy{
        .modalFinish{
            height: 40%;
            width: 80%;
            img{
                width: 25%;
            }
            h1{
                font-size: 26px ;
            }
            p{
                font-size: 16px;
            }
            button{
                font-size: 16px ;
                height: 17%;
            }
        }
    }
    .totalContainerSecondStep{
        padding-inline: 7% !important;
        p{
            font-size: 14px !important;
            
        }
    }
    .buttonPurchase-SecondStep{
        font-size: 14px !important;
    }
}
@media (max-width:677px){
.MPSTitle{
    margin-bottom: 2vh !important;
    margin-top: 4vh;
}
@media (max-width:600px){
    .mainSneakers{
        margin-top: 4vh !important;
        padding-bottom: 15vh !important;
    }
    .section3{
        flex-direction: column;
        height: auto;
        .imageSOTW{

        }
        .SOTWTextContent{
            width: 100%;
            min-height: 70vh;
            .contentSOTW{
                width: 80%;
                text-align: center;
                .priceAndCart{
                    flex-direction: column;
                    gap: 20px;
                }
            }
        }
    }
.navbar{
    opacity: 0;
    pointer-events: none;
}

.backgroundBenefit{
    height: 100vh !important; 
    .textBenefit{
        width: 80% !important;
        height: 30% !important;
    }
}
.navBarMobile{
    margin-bottom: 2%;
    ul{
        li{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                height: 18px;
            }
        }
    }
}

}
@media (max-width:550px){
    .section5{
        .contentSuscribe{
            border-radius: 0;
            width: 100%;
            height: 50vh;
            div{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                div{
                    flex-direction: row;
                    height: 70px;
                    input{
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .totalContainer{
        width: 83% !important;
    }
    .clearButton{


    }
    .totalCountCart{
        .totalAndClear{
            .totalContainer{
                p{
                    font-size: 14px !important;
                }
            }
        }
    }
    .buttonsCartContainer{
    .buttonBTS{
        width: 30% !important;
        p{
            display: none;
        }
        .arrowCart{
            width: 100% !important;
        }

    }
    .buttonPurchase{
        width: 68% !important;
        p{
            font-size: 12px !important;
        }
    }
    }
}
}
@media (max-width:400px){
    .mainSneakers{
        margin-top: 0vh !important;
        .filterContainer{
            width: 100% !important;
            border-radius: 0px !important;
        }
    }
    body{
        .sectionCart{
            .cartContainer{
                    .myCartTitle{
                        p{
                            margin-left: 10px !important;
                            font-size: 16px !important;

                        }
                    }
                    .sneakerObjet{
                        .sneakerDataCart{
    
                                .sneakerCartName{
                                    h3{
                                        font-size: 14px !important;
                                    }
                                    p{
                                        font-size: 12px !important;
                                    }
                                }
                            
                        }
                        .ObjectDataCart{
                            .dataCart{
                                p{
                                    font-size: 12px !important;
                                }
                        }
                        }
                    }
                }
                .totalCountCart{
                    .totalAndClear{
                        .totalContainer{
                            padding-inline: 7%;
                            p{
                                font-size: 12px !important;
                            }
                        }
                    }
                }
            
        }
    }
    .sectionCartSecondStep{
        .cartContainerSecondStep{
            .myCartTitleSecondStep{
                p{
                    margin-left: 10px !important;
                    font-size: 16px !important;
                }
            }
            .PayDataContainer{
                .discountAndSummary{
                    .discount{
                        p{
                            font-size: 16px !important;
                        }
                        height: 22vh !important;
                        button{
                            margin-top: 2%;
                        }
                        input{
                            font-size: 12px;
                        }
                        
                        
                    }
                    .paymentSum{
                        p{
                            font-size: 16px !important;
                        }
                        .summaryContainer{
                            div{
                                p{
                                    font-size: 12px !important;
                                    strong{
                                        font-size: 12px !important;
                                    }
                                }
                            }
                        }
                    }
                }
                .emailPayMethod{
                    .emailContainer{
                        input{
                            font-size: 12px !important;
                            padding-left: 8%;
                        }
                    }
                    .payMethod{
                        p{
                            font-size: 16px !important;
                        }
                        div{
                            img{
                                height: 20px;
                            }
                            p{
                                font-size: 12px !important;
                            }
                        }
                    }
                }
            }
        }
        .totalContainerSecondStep{
            padding-inline: 7% !important;
            p{
                font-size: 12px !important;
            }
        }
        .buttonsCartContainer-SecondStep{
            .buttonBTS-SecondStep{
                p{
                    font-size: 12px !important;
                }
            }
            .buttonPurchase-SecondStep{
                p{
                    font-size: 12px !important;
                }
            }
        }

    }
    .finishBuy{
        .modalFinish{
            height: 30% !important;
            img{
                transform: translateY(-120%);
            }
            h1{
                font-size: 20px !important;
            }
            p{
                font-size: 12px !important;
            }
            button{
                font-size: 14px;
            }
        }
    }
}