@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face {
    font-family: Dash;
    src: url(../assets/fonts/Dash-Horizon-Demo.otf);
}
@font-face {
    font-family: Retroica;
    src: url(../assets/fonts/Retroica.ttf);
}
$yellowSneaky: #FCEA1C;
$blackSneaky: #373737;
$yellowGradient: radial-gradient(49.23% 49.23% at 50.18% 50.77%, #F8EE7B 0%, #FFEB00 100%);

@keyframes float {
	0% {

		transform: translatey(0px);
	}
	50% {

		transform: translatey(-20px);
	}
	100% {

		transform: translatey(0px);
	}
}
a{
    color: $blackSneaky;
}
body{
    overflow-x: hidden;
    &::-webkit-scrollbar{
        background: #181818;
        width: 5px;
        transition: all 1s;
    }
    &::-webkit-scrollbar-thumb{
        background: #525252;
        border-radius: 10px;
        transition: all 1s;
    }
}
*{  
    box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
    font-family: 'Poppins', sans-serif;
}
button{
    background-color: transparent;
}
.headerSneakers{
    background-color: #1F1F1F;
    ul{
        li{
            button{
                color: #fff;

                a{
                    color: #fff;
                }
            }
        }
    }
}
.main{
    transition: all .5s;
}
.hideHeader{
    transform: translateY(-100%) !important;
}
header{

    z-index: 100;
    position: fixed;
    width: 100vw;
    height: 8vh;
    transition: all .3s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    padding-inline: 25px;
    background-color: #FCEA1C;
    .logoContainer{
        align-items: center;
    }
    div{
        display: flex;
        justify-content: center;

        
        .logoHeader{
            transition: all .5s;
            width: 110px;
            transform: translateX(-25%);
        }
        .closeSneakerCard{
            width: 12px;
            margin-top: 4px;
            transition: all .5s;
            height: 18px;
            background-image: url(../assets/svg/icons/arrowBack.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            margin-right: 20px;
            cursor: pointer;
            transform: translateX(-20vw);
            &:hover{
                background-image: url(../assets/svg/icons/arrowBackOn.svg);

            }

        }
        ul{
            display: flex;
            li{

                margin-left: 15px;
                a{
                    font-size: 14px;
                    color: $blackSneaky;
                    font-weight: 500;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                }
                button{
                    font-size: 14px;
                    color: $blackSneaky;
                    font-weight: 500;
                    cursor: pointer;
                    display: flex;
                    align-items: center;

                    img{
                        margin-left: 3px;
                        width: 15px;
                    }
                }
            }
        }
    }
}
.section2, .section3, .section4, .section5{
    min-height: 100vh;
}
@-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  
.section1{
    height: 100vh;
    background-color: #FCEA1C;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 8vh;
    .section1Container{
        display: flex;
        width: 100%;

        align-items: center;
        justify-content: space-around;
        h1{
            font-family: 'Retroica';
            font-weight: 100;
            font-size: 5vw;
            color: $blackSneaky;
            -webkit-animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        }
        img{
            transition: all .5s;
            width: 30%;
            -webkit-animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both, float 5s ease-in-out infinite;
            filter: drop-shadow(30px 10px 25px #39350e56);

            &:hover{
                transform: scale(1.1);
            }
        }
    }
}
.brandName{
    color: #5A5A5A;
    font-size: 14px;
}
.section2{
     //background-image: url(../assets/img/bgPop.jpg);
    background-color: #181818;
    // background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    .MPSCont{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .MPSTitle{
        font-weight: 600;
        font-size: 24px;
        color: #fff;
        width: min-content;
        white-space: nowrap;
        margin-block: 5vh;
        text-shadow: 0px 0px 10px #1515157b;
    }
    .sneakersPopularContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100vw;
        align-items: center;
        gap: 40px;
        margin-bottom: 2vh;
        flex-direction: row-reverse;
    }
    .sneakerCard{
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.11);
        height: 460px;
        width: 360px;
        transition: all .5s;
        border-radius: 30px;
        &:hover{
            box-shadow: 0px 0px 30px 4px rgba(0, 0, 0, 0.599) ;

        }

        .sneakerImage{
            border-radius: 30px 30px 0px 0px;
            
            
            // background-image: url(../assets/img/catalog/travisJordan6.webp);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            height: 60%;
            background-color: #f6f6f6;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;

        }
        button{
            display: flex;
            color: #353330;
            cursor: pointer;
            justify-content: center;
            align-items: center;
            background: $yellowGradient;

            // transform: translate(100px, -50%);
            transition: all .2s;
            border-radius: 100px;
            font-weight: 600;
            font-size: 14px;
            line-height: 30px;
            text-align: center;
            letter-spacing: 0.06em;
            padding-inline: 40px;
            padding-block: 8.5px;
            border: 5px solid #262626;
            position: relative;
            top: 10%;
            right: 5%;
            &:hover{
                padding-inline: 50px;
                // border: 5px solid #FFEB00;
                // width: 12%;
                // transform: translate(30.7%, -50%);
            }
            img{
                position: relative;
                top: 1px;
                margin-left: 5px;
                width: 13px;
            }
        }
        .cardContent{
            padding: 25px;
            background-color: #262626;
            height: 40%;
            border-radius: 0pc 0pc 30px 30px;
            p{  

                font-family: 'Montserrat', sans-serif; 
            }
            .sellerName{
                color:#929292;
                font-weight: 500;
            }
            .sneakerName{
                font-size: 26px;
                cursor: pointer;
                font-weight: 600;
                opacity: 90%;
                color: #FFFFFF;
                margin-block: 15px;
            }
            .sneakerPrice{
                font-weight: 500;
                font-size: 24px;
                color: #CFCFCF ;

            }
        }
    }
}
.seeAllCatalogButton{
    background: $yellowGradient;
    display: flex;
    width: 6%;
    cursor: pointer;
    height: 520px;
    margin-inline: 20px;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    &:hover{
        
    }
    button{
        
        text-align: center;
        height: min-content;
        white-space: nowrap;
        font-weight: 600;
        font-size: 16px;
        letter-spacing: 1.5px;
        position: absolute;
        transform: rotate(90deg);
        cursor: pointer;
    }
}
.section3{
    display: flex;
    height: 100vh;
    align-items: center;
    .imageSOTW{
        height: 100vh;
        width: 40%;
        background-image: url(../assets/img/sotw.jpg);
        background-size: cover;
        background-position: center ;
        z-index: 1;
        background-repeat: no-repeat;

        transition: all .5s;
        &:hover{
            transform: scale(1.03);
            filter: drop-shadow(0px -10px 100px rgba(0, 0, 0, 0.404));
        }
    }
    .SOTWTextContent{
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../assets/img/textBGsotw.jpg);
        background-attachment: fixed;
        .contentSOTW{
            width: 70%;
            div{
                .textInfoSOTW{
                    margin-block: 7%;
                }
                p{
                    line-height: 173.5%;
                    letter-spacing: 0.035em;
                    color: #fff;
                    font-size: 18px;
                    strong{
                        font-size: 24px;
                        font-weight: 600;
                    }
                }
            }
            .priceAndCart{
                display: flex;
                align-items: center;
                p{  
                    font-size: 24px;
                    font-weight: 600;
                    font-family: 'Montserrat';
                    margin-right: 20px;
                }
                button{
                    display: flex;
                    background: rgba(255, 255, 255, 0.39);                    justify-content: center;
                    align-items: center;
                    color: #fff;
                    padding-block: 15px;
                    padding-inline: 60px;
                    border-radius: 100px;
                    font-weight: 600;
                    font-size: 16px;
                    transition: all .5S;
                    cursor: not-allowed;
                    text-align: center;
                    letter-spacing: 0.06em;
                    &:hover{
                        padding-inline: 80PX;
                    }
                    img{
                        margin-left: 5px;
                        width: 15px;
                    }
                }
            }
        }
    }
}
.section4{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    .backgroundBenefit{
        position: relative;
        background-size: cover;
        height: 100%;
        background-position: center;
        display: flex;
        align-items: center;
        transition: all .5s;
        z-index: 0;
        // filter: grayscale(100%);
        // -webkit-filter: grayscale(100%);
        // -moz-filter: grayscale(100%);


        
        .textBenefit{
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 35%;
            transition: all.5s;
            color: #fff;
            backdrop-filter: saturate(-480%) ;
            backdrop-filter: blur(8px);
            &:hover{
                backdrop-filter: blur(8px);

            }

            background-color: rgba(0, 0, 0, 0.25);
            text-align: center;
            z-index: 1;
            h3{
                margin-bottom: 15px;
                font-weight: 600;
            }
            p{
                width: 90%;
            }
            

        }
    }
    .backgroundBenefit1{
        background-image:url(../assets/img/blazerBene.jpg);
        &:hover{
                filter: grayscale(0%);
                -webkit-filter: grayscale(0%);
                -moz-filter: grayscale(0%);
            
        }
    }
    .backgroundBenefit2{
        background-image:url(../assets/img/blazeryellow.jpg);
        &:hover{
            filter: grayscale(0%);
            -webkit-filter: grayscale(0%);
            -moz-filter: grayscale(0%);
        
    }

    }
    .backgroundBenefit3{
        background-image:url(../assets/img/bene3.jpg);
        &:hover{
            filter: grayscale(0%);
            -webkit-filter: grayscale(0%);
            -moz-filter: grayscale(0%);
        
    }

    }
}
.section5{
    display: flex;
    justify-content: right;
    align-items: center;
    background-image: url(../assets/img/jordanSuscribe.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: right;

    // backdrop-filter: saturate(30%) brightness(100%) ;

    .contentSuscribe{
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.25); 

        height: 100vh;
        transition: all .5s;
        color: #FFFFFF;
        backdrop-filter: blur(10px) ;
        contentSuscribe
        &:hover{

       }
        div{
            width: 72.5%;
            h3{
                font-size: 30px;
                font-weight: 600;
                strong{
                    color: $yellowSneaky;
                    font-size: 600;
                }
            }
            p{
                font-size: 18px;
                margin-block: 4vh;
            }
            div{
                display: flex;
                align-items: center;
                height: 60px;
                input{
                    background: rgba(255, 255, 255, 0.19);
                    color: #fff;
                    height: 100%;
                    width: 72%;
                    border-radius: 30px 0px 0px 30px;
                    padding-left: 20px;
                    font-size: 16px;
                    &::placeholder{
                        color: rgba(255, 255, 255, 0.19);
                    }
                }
                button{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 15%;
                    border-radius: 0px 30px 30px 0px;
                    height: 100%;
                    transition: all .5s;
                    cursor: pointer;
                    background-color: $yellowSneaky;
                    &:hover{
                        width: 20%;

                    }
                    img{
                        width: 18px;
                        position: relative;
                        right: 2px;
                    }
                }
            }
        }
    }

}
footer{
    .footer{
        padding-block: 6.5vh;
        background-color: #1F1F1F;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        img{

        }
        ul{
            display: flex;
            li{
                cursor: pointer;
            }
        }
        .socialMedia{
            margin-block: 3.5vh;
            li{
                transition: all .5s;
                margin-inline: 20px;
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
        .addsFooter{
            
            li{
                color: #FFFFFF;
                margin-inline: 20px;
                transition: all .5s;
                &:hover{
                    color: $yellowSneaky;
                }
            }
        }
    }
    .credits{
        display: flex;
        justify-content: center;
        align-items: center;
        background: $yellowGradient;
        height: 7vh;
        p{


        }
    }
}
.showSneakerSelected{
    transform: translateY(0vh) !important;

}
.sneakerSelected{
    transition: all .7s;
    transform: translateY(-100vh);
    z-index: 99;
    position: fixed;
    height: 100%;
    display: flex;
    width: 100vw;
     .imageSneakerSelected{
        width: 55%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background: $yellowGradient;
        background-position: center;
        img{   
            width: 70%;
            height: auto;
            transition: all .5s;
            filter: drop-shadow(0px 8px 15px rgba(0, 0, 0, 0.25));
            &:hover{
                transform: scale(1.1);
                cursor: zoom-in;
            }
        }
    }
    .sectionInfoSneaker{
        background-color: #262626;
        width: 45%;
        padding-block: 50px;
        padding-inline: 60px;

    }
     .infoSneakerSelected{
        height: 92%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h3, p, li{
            color: #FFFFFF;
        }
        .brandName{
            color: #828282;
            font-size: 18px;
        }
        .nameComplete{
            h3{
                font-size: 34px;
                font-weight: 600;
            }
            .modelName{
                font-size: 25px;
                font-weight: 400;
            }
        }
        .rateStars{
            margin-top: 5%;
        }
        .priceSneaker{
            font-size: 34px;
            font-weight: 600;
            margin-block: 5%;
        }
        .sizeSneaker{
            p{
                color: #898989;
                font-size: 18px;
                margin-bottom: 1%;

            }
            ul{
                display: flex;
                li{
                    button{
                        color: #FFFFFF;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: #3B3B3B ;
                        margin-right: 20px;
                        width: 55px;
                        transition: all .5s;
                        cursor: pointer;
                        height: 40px;
                        text-align: center;
                        border-radius: 30px;
                        font-weight: 500;
                        font-size: 18px;
                        &:hover{
                            background-color: #5A5A5A;
                        }
                    }
                }
            }

        }
        .amountSneaker{
            margin-top: 5%;
            p{
                color: #898989;
                font-size: 18px;
                margin-bottom: 1%;

            }
            .amountComplete{
                display: flex;
                height: 40px;


            }
            button{
                color: #FFFFFF;
                background-color: #3B3B3B;
                width: 40px;
                font-size: 18px;
                font-weight: 500;
                cursor: pointer;
                
            }
            .reduceAmount{
                border-radius: 30px 0px 0px 30px;
                transition: all .1s;
                &:hover{
                    background-color: #5A5A5A 

                }
                &:active{
                    color: $blackSneaky;
                    background-color: $yellowSneaky;
                }
            }
            input[type="number"]{
                pointer-events: none;
                font-weight: 500;
                font-size: 18px;
                color: #FFFFFF;
                text-align: center;
                background-color: #3B3B3B;
                &::-webkit-outer-spin-button, &::-webkit-inner-spin-button{
                    appearance: none;
                    margin: 0;
                }
            }
            .increaseAmount{

                border-radius: 0px 100px 100px 0px;
                transition: all .1s;
                &:hover{
                    background-color: #5A5A5A 

                }
                &:active{
                    color: $blackSneaky;
                    background-color: $yellowSneaky;
                }
            }
        }
     }
}
.addButtonCartSneakerSelected{
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    .BTSSneakerSelected{
        width:  50px;
        height:100%;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #3B3B3B;
        img{
            width: 25%;
        }
    }
    .buttonATC{
        display: flex;
        justify-content: center;
        align-items: center;
        background:$yellowSneaky;
        width: 100% ;
        height: 100%;
        letter-spacing: 0.1em;
        color: #353330;
        border-radius: 100px;
        font-weight: 600;
        font-size: 16px;
        cursor: pointer;
        img{
            width: 15px;
            margin-left: 5px;
        }
    }
}



.buttonSizeOn{
    color: $blackSneaky !important;
    background-color: transparent !important;
    background: $yellowGradient;

    font-weight: 600 !important;
    &:hover{
        background-color: transparent;
        background: $yellowGradient;
    }
}
.showHeaderCloseLogo{
    transform: translateX(0%) !important;
}
.showHeaderCloseButton{
    transform: translateX(0vw) !important;
}
.mainSneakers{
    z-index: 10;
    transform: translateX(100vw);
    height: 100vh;
    position: fixed;
    transition: all .5s;
    overflow-y: scroll;
    width: 100vw;
    min-height: 100vh;
    background-color: #181818;
    margin-top: 8vh;
    padding-bottom: 8vh;
    &::-webkit-scrollbar{
        background: #181818;
        width: 5px;
        transition: all 1s;
    }
    &::-webkit-scrollbar-thumb{
        background: #525252;
        border-radius: 10px;
        transition: all 1s;
    }
    .sectionSneakers{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;


        .filterContainer{
            display: flex;
            width: 82%;
            height: 13vh;
            border-radius: 30px;
            background-color: #242424;
            padding-inline: 4%;
            margin-bottom: 1.7%;
            justify-content: space-between;
            align-items: center;
            .filtersContainer{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                select{
                    color: #fff;
                    height: 40%;
                    border-radius: 100px;
                    width: 13vw;
                    padding-inline: 20px;
                    appearance: none;
                    background: url('../assets/svg/icons/arrowDown.svg') no-repeat right;
                    background-size: 12px;
                    background-position: 90%;
                    background-color: #3B3B3B;
                    // padding-right: 25px;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                  
                    &::before {
                      content: "";
                      border-color: #666666 transparent transparent transparent;
                      border-style: solid;
                      border-width: 5px;
                      height: 0;
                      width: 0;
                      position: absolute;

                      top: 50%;
                      margin-top: -2.5px;
                      pointer-events: none;
                    }
                }
                input{
                    padding-inline: 20px;
                    background-color: #3B3B3B;
                    color: #fff;
                    height: 40%;
                    width: 13vw;
                    margin-left: 5%;
                    border-radius: 100px;

                    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button{
                        -webkit-appearance: none;
                        appearance: none;
                    }
                }
            }
            .searcherContainer{
                background: #3B3B3B;
                display: flex;
                justify-content: center;
                padding-inline: 2%;
                height: 40%;
                
                align-items: center;
                border-radius: 100px ;
                input{
                    // padding-left: 10%;
                    
                    background: transparent;
                    color: #fff;
                }
                img{
                    width: 15px;
                }
            }
        }
        .allSneakers{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            .sneakerCard{
                box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.11);
                margin: 20px;
                height: 460px;
                width: 360px;
                transition: all .5s;
                border-radius: 30px;
                &:hover{
                    box-shadow: 0px 0px 30px 4px rgba(0, 0, 0, 0.599) ;
        
                }
        
                .sneakerImage{
                    border-radius: 30px 30px 0px 0px;
                    
                    
                    // background-image: url(../assets/img/catalog/travisJordan6.webp);
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    height: 60%;
                    background-color: #f6f6f6;
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-end;
        
                }
                button{
                    display: flex;
                    cursor: pointer;
                    justify-content: center;
                    align-items: center;
                    background: $yellowGradient;
        
                    // transform: translate(100px, -50%);
                    transition: all .2s;
                    border-radius: 100px;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 30px;
                    text-align: center;
                    letter-spacing: 0.06em;
                    padding-inline: 40px;
                    padding-block: 8.5px;
                    border: 5px solid #262626;
                    position: relative;
                    top: 10%;
                    right: 5%;
                    &:hover{
                        padding-inline: 50px;
                        // border: 5px solid #FFEB00;
                        // width: 12%;
                        // transform: translate(30.7%, -50%);
                    }
                    img{
                        position: relative;
                        top: 1px;
                        margin-left: 5px;
                        width: 13px;
                    }
                }
                .cardContent{
                    padding: 25px;
                    background-color: #262626;
                    height: 40%;
                    border-radius: 0pc 0pc 30px 30px;
                    p{  
        
                        font-family: 'Montserrat', sans-serif; 
                    }
                    .sellerName{
                        color:#929292;
                        font-weight: 500;
                    }
                    .sneakerName{
                        font-size: 26px;
                        cursor: pointer;
                        font-weight: 600;
                        opacity: 90%;
                        color: #FFFFFF;
                        margin-block: 15px;
                    }
                    .sneakerPrice{
                        font-weight: 500;
                        font-size: 24px;
                        color: #CFCFCF ;
        
                    }
                }
            }
        }
    }
}
.sectionCart{
    transition: all .5s;
    background-color: #181818;
    z-index: 100;
    height: 100%;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    transform: translateY(-100vh);
    .cartContainer{
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        background-color: #1D1D1D;
        height: 100%;
        // padding-inline: 2.5%;
        padding-block: 2%;
            
            .myCartTitle{
                height: 10%;
                width: 100%;
                padding-inline: 5%;
                display: flex;
                align-items: center;

                p{
                    font-size: 150%;
                    font-weight: 600;
                    margin-left: 20px;
                }

            }
            .MyCartObjets{
                height: 70%;
                padding-inline: 5%;

                width: 100%;
                overflow-y: scroll;
                overflow-x: hidden;

                &::-webkit-scrollbar{
                    

                    background: #2F2F2F;                    ;
                    width: 5px;
                    transition: all 1s;
                }
                &::-webkit-scrollbar-thumb{
                    background: $yellowSneaky;
                    border-radius: 10px;
                    transition: all 1s;
                }
                .sneakerObjet{
                    width: 100%;
                    display: flex;
                    height: 15vh;
                    margin-block: 15px;

                    .sneakerDataCart{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 40%;
                        border-radius: 30px 0px 0px 30px;
                        background-color: #2F2F2F;
                        .imageSneakerCart{
                            width: 40%;
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: cover;
                            filter: drop-shadow(0px 4px 13px rgba(0, 0, 0, 0.25));
                            margin-inline: 10px;
                            // background-image:url(../assets/img/catalog/airForce1Travis.webp);
                            img{
                                transition: all .5s;
                                width: 130px;

                            }
                        }
                        .sneakerCartName{
                            width: 60%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            h3{
                                font-weight: 500;
                                font-size: 16px;
                            }
                            p{
                                color: #AAAAAA;  
                                font-size: 14px;
                            }
                        }
                    }
                    .ObjectDataCart{
                        width: 60%;
                        border-radius: 0px 30px 30px 0px;
                        justify-content: space-around;
                        display: flex;
                        align-items: center;
                        background-color: #292929;
                        .dataCart{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            .dataBold{
                               font-weight: 600; 
                            }
                            .dataBoldYellow{
                                font-weight: 600; 
                                color: $yellowSneaky;
                            }
                        }
                    }
                }
            }
        .totalCountCart{
            padding-inline: 5%;

            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            height: 20%;
            .totalAndClear{
                display: flex;
                height: 35%;
                width: 100%;
                flex-direction: row-reverse;
                justify-content: space-between;

                .totalContainer{
                    display: flex;
                    justify-content: space-between;
                    background-color: #292929;
                    border-radius: 100px;
                    align-items: center;
                    padding-inline: 5%;
                    padding-block: 20px;
                    width: 80%;
                    p{
                        color: #AAAAAA;
                    }
                    .totalText{

                        font-weight: 600;
                        color: $yellowSneaky;
                    }
                }
                .clearButton{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #292929;
                    border-radius: 100px;
                    width: 18%;
                    transition: all .5s;
                    p{
                        color: #aaa;
                        transition: all .5s;

                    }
                    img{
                        display: none;
                    }
                    &:hover{

                        p{
                            cursor: pointer;
                            color: #fff;
                        }
                    }
                }

            }

            .buttonsCartContainer{
                display: flex;
                height: 35%;
                margin-top: 15px;
                .buttonBTS{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #292929;
                    width: 40%;
                    border-radius: 40px;
                    cursor: pointer;
                    p{
                        font-size: 14px;
                        transition: all .5s;
                    }
                    &:hover{
                        p{
                            color: #FFFFFF;
                        }
                    }
                    .arrowCart{
                        background-image: url(../assets/svg/icons/arrowLeftCartDefault.svg);
                        width: 20%;
                        height: 30%;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                    }
                    p{
                        color: #aaa;
                        font-weight: 500;
                        letter-spacing: 0.06em;
                        width: 50%;
                        margin-left: 10px;
                        border-radius: 30px;
                    }
                }
                .buttonPurchase{
                    background: $yellowGradient;
                    color: $blackSneaky;
                    font-weight: 500;
                    letter-spacing: 0.06em;
                    width: 58%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    margin-left: 2%;
                    border-radius: 100px;
                }
            }
        }
    }
}
.cartON{
    transform: translateY(0vh) !important;
}
.mainSneakersOn{
    transform: translateX(0vw) !important;

}
.mainOn{
    transform: translateX(-100vw) !important;

}
.sectionCartSecondStep{
    position: fixed;
    z-index: 101;
    width: 100vw;
    transition: all .5s;
    background-color: #181818;
    height: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100vh);
    .cartContainerSecondStep{
        width: 100%;
        height: 100%;
        padding-block: 2%;

    background-color: #1D1D1D;

        .myCartTitleSecondStep{
            height: 10%;
            display: flex;
            align-items: center;
            padding-right: 5%;

            p{
                padding-left: 7%;
                font-weight: 600;
                font-size: 100%;
                margin-left: 20px;
            }
        }
        .PayDataContainer{
            display: flex;
            height: 70%;
            padding-inline: 5%;
            justify-content: space-between;
            .emailPayMethod{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 60%;
                .emailContainer{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 19%;
                    background-color: #242424;
                    border-radius: 30px;
                    input{
                        background-color: #333333;
                        border-radius: 30px;
                        width: 85%;
                        height: 40%;
                        padding-left: 5%;
                        color: #fff;
                    }
                }
            
            .payMethod{
                height: 78%;
                background-color: #242424;
                border-radius: 30px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 5%;
                p{
                    width: 78%;
                    font-weight: 600;
                    font-size: 18px;
                }
                div{
                    padding-left: 5%;
                    display: flex;
                    align-items: center;
                    background-color: #333333;
                    width: 85%;
                    transition: all .5s;
                    height: 17%;
                    border-radius: 25px;
                    &:hover{
                        background-color: #414141;
                        cursor: pointer;
                    }
                    img{
                        margin-right: 10px;
                    }
                    p{
                        font-weight: 500;
                        font-size: 15px;
                    }
                }
            }
        }
        .discountAndSummary{
            width: 37.5%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .discount{
                background-color: #242424;
                border-radius: 30px;
                height: 37%;
                display: flex;
                flex-direction: column;
                transition: all .5s;
                justify-content: center;
                align-items: center;
                p{
                    font-size: 14px;
                    transition: all .5s;

                }
                input{
                    font-size: 14px;
                    transition: all .5s;

                    background-color: #333333;
                    border-radius: 15px;
                    height: 20%;
                    width: 75%;
                    color: #fff;
                    padding-left: 5%;
                    margin-block: 6%;
                }
                button{
                    transition: all .5s;
                    color: #353330;
                    cursor: pointer;
                    letter-spacing: 0.15rem;
                    font-weight: 600;
                    font-size: 14px;
                    background: $yellowSneaky;
                    height: 20%;
                    width: 75%;
                    border-radius: 15px;

                }
            }
            .paymentSum{
                height: 60%;
                background-color: #242424;
                border-radius: 30px;
                padding-block: 8%;
                padding-inline: 8%;
                p{
                    font-weight: 600;
                    font-size: 18px;

                    margin-bottom: 5%;
                }
                div{
                    gap: 25px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    div{
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                    p{
                        color: #C2C2C2;
                        font-size: 16px;
                        font-weight: 500;
                        margin-bottom: 0%;

                        strong{
                            color: $yellowSneaky;
                            font-weight: 600;
                        }
                    }
                    }
                }
            }
        }
        }
    }
    .totalCountCartSecondStep{
        padding-inline: 5%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 20%;
        .totalAndClearSecondStep{
            display: flex;
            height: 35%;
            width: 100%;
            flex-direction: row-reverse;
            justify-content: space-between;

            .totalContainerSecondStep{
                display: flex;
                justify-content: space-between;
                background-color: #292929;
                border-radius: 100px;
                align-items: center;
                padding-inline: 5%;
                padding-block: 20px;
                width: 100%;
                p{
                    color: #AAAAAA;
                }
                .totalTextSecondStep{

                    font-weight: 600;
                    color: $yellowSneaky;
                }
            }

        }

        .buttonsCartContainer-SecondStep{
            display: flex;
            height: 35%;
            margin-top: 15px;
            .buttonBTS-SecondStep{
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #292929;
                width: 40%;
                border-radius: 40px;
                cursor: pointer;
                p{
                    font-size: 14px;
                    transition: all .5s;
                }
                &:hover{
                    p{
                        color: #FFFFFF;
                    }
                }
                p{
                    color: #aaa;
                    font-weight: 500;
                    letter-spacing: 0.06em;


                    border-radius: 30px;
                }
            }
            .buttonPurchase-SecondStep{
                background: $yellowGradient;
                color: $blackSneaky;
                font-weight: 500;
                letter-spacing: 0.06em;
                width: 58%;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                margin-left: 2%;
                border-radius: 30px;
            }
        }
    }
}
.sectionCartSecondStepON{
    transform: translateY(0vh) !important;
}
.finishBuy{
    opacity: 0;
    pointer-events: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    transition: all .5s;
    display: flex;
    z-index:  102;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(8px);
    .modalFinish{
        border-radius: 30px;
        background-color: #EFEFEF;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 40%;
        width:30%;
        img{
            position: absolute;
            transform: translateY(-100%);
        }
        h1{
            margin-top: 7%;
            font-weight: 600;
            font-size: 32px;
        }
        p{
            margin-bottom: 5%;
            margin-top: 2%;
            font-size: 18px;
            text-align: center;
            color: #737373;
        }
        button{
            background-color: #2C2C2C;
            color: $yellowSneaky;
            font-weight: 600;
            transition: all .5s;
            font-size: 18px;
            height: 15%;
            width: 45%;
            border-radius: 15px;
            &:hover{
                width: 50%;
                cursor: pointer;
                // box-shadow: 0px 0px 0px 4px $yellowSneaky;
            }
            
        }
    }
}
.showFinishBuy{
    opacity: 100 !important;
    pointer-events: all !important;
}
.noResultSearch{
    color: #fff;
    transform: translateY(1000%);
    opacity: 70%;
}
.navBarMobileON{
    transform: translateY(0vh) !important;

}
.navBarMobile{
    z-index: 98;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
    margin-bottom: 5%;
    display: flex;
    transition: all .5s;

    transform: translateY(50vh);
    justify-content: center;
    ul{
        background-color: #333333;
        box-shadow: 0px 0px 42px rgba(0, 0, 0, 0.38);

        height: 100%;
        background-image: url(../assets/svg/icons/sneakyBackground.svg);
        width: 90%;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30%;
        li{
            img{
                height: 22px
            }
        }
    }

}
@import 'media';