$backgroundColor:#1B191D;
$FirstColor:#C9308C;
$whiteColor:#F1E8FA;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
    font-family: 'Poppins', sans-serif;
}


body{
    height: 100vh ;
    width: 100vw;
    background-color: $backgroundColor;
    overflow-y: hidden;

    section{
        height: 80%;
        width: 100vw;
    }
    footer{
        height: 20%;
        width: 100vw;
    }
}
.welcomeSpeakoOn{
    transform: translateY(0vh) !important;
}
.welcomeSpeako{
    position: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    z-index: 99;
    background-color: #262329;
    transition: all .7s;
    transform: translateY(-100vh);
    img{
        width: 40vw;
    }
    p{
        text-align: center;
        color: $whiteColor;
        margin-block: 4vh;
        font-size: 14px;
        margin-inline: 8vw;
        strong{
            color: $FirstColor;
            font-size: 400;
        }
    }
    button{
        background-color: $FirstColor;
        font-size: 16px;
        width: 60%;
        max-width: 250px;
        border-radius:100px;
        height: 6.5%;
        color:  $whiteColor;

    }
    a{
        margin-top: 15px;
        color: #7E7C7F;
    }
}
.headerPalabrasOn{
    background-image: url(../assets/svg/icons/createHeader.svg) !important;
}

.headerFrasesOn{
    background-image: url(../assets/svg/icons/saveHeaderOn.svg) !important;
}


header{
    height: 15%;
    justify-content: space-between;
    display: flex;
    align-items: center;

    padding-inline: 8%;
    .logoHeader{
        display: flex;
        align-items: center;

        width: 50%;

    }
    .navbarHeader{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 50%;


        .buttonPalabras{
            width: 20px;
            height: 20px;
            transition: all .5s;
            background-image: url(../assets/svg/icons/createHeaderOff.svg);
            &:hover{
                background-image: url(../assets/svg/icons/createHeader.svg);

            }
        }
        .buttonFrases{
            margin-left: 30px;
            height: 20px;
            width: 17px;
            transition: all .5s;
            background-repeat: no-repeat;
            background-image: url(../assets/svg/icons/saveHeaderOff.svg);
            &:hover{
                background-image: url(../assets/svg/icons/saveHeaderOn.svg);

            }
        }
            button{
                cursor: pointer;
                font-size: 16px;
                background-color: transparent;
                color: rgba(255, 255, 255, 0.74);
                font-weight: 300;
                &:hover{
                    color: $whiteColor;
                    transition: all .5s;
                }
            }
            .navbarSelected{
                font-weight: 500;
                color: $whiteColor;
            }
    }
}
.containerPalabrasOn{
    transform: translateX(-100vh) !important;
}
.containerFrasesOn{
    transform: translateX(0vw) !important;
}
.overYHidden{
    overflow: hidden !important;
}

.main{
    height: 85%;
    width: 100vw;
    display: flex;
    overflow-y: hidden;
    &::-webkit-scrollbar{
        display: none;
    }



        .containerPalabras{

            position: absolute;
            width: 100%;
            justify-content: center;
            transition: .6s;
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            height: 68vh;
            overflow-y: scroll !important;

            align-content: flex-start;
            .containerOptions{


                width: 100%;
                justify-content: center;
                transition: .6s;

                display: flex;
                align-items: flex-start;
                flex-wrap: wrap;

                align-content: flex-start;
            }
            &::-webkit-scrollbar{

                width: 5px;
                transition: all 1s;
            }
            &::-webkit-scrollbar-thumb{
                background: $FirstColor;
                border-radius: 10px;
                transition: all 1s;
                &:hover{
                    background: #A02A71;
                }
            }
            .searchContainer{
                background-color: #373439;
                width: 75%;
                display: flex;
                justify-content: space-between;
                border-radius: 7px;
                padding-inline: 20px;
                margin-bottom: 25px;
                
                .searcher{
                    color: $whiteColor;
                    font-size: 16px;
                    padding-block: 2vh;
                    background-color: transparent;
                    font-weight: 500;
                    width: 95%;

                }
            }

            .crearButton{
                cursor: pointer;
                transition: all .5s;
                padding-inline: 20px;
                border-radius: 7px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 75%;
                height: 7vh;
                background-color: $FirstColor;
                color: $whiteColor;
                margin-bottom: 25px;
                &:hover{
                    background-color: #A02A71;
                }
                p{
                    font-weight: 500;
                }
            }
            .optionWord{
                cursor: pointer;
                padding-inline: 20px;
                border-radius: 7px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 75%;
                padding-block: 2vh;
                background-color: $whiteColor;
                color: $backgroundColor;
                margin-bottom: 25px;
                transition: all .5s;
                &:active{
                    background-color: #F1E8FA;
                }
                &:hover{
                    box-shadow: 0px 0px 0px 4px #C9308C;
                    p{
                    color: $FirstColor;
                }}
                p{  
                    
                    max-width: 100%;
                    transition: all .5s;
                    color: #717171;
                    font-weight: 500;
    
                }
            }
        }
        .containerFrases{
            height: 68vh;
            padding-top: 4px;
            width: 100%;
            position:relative;
            transition: .6s;            
            background-color: $backgroundColor;
            display: flex;
            flex-direction: column;
            align-items: center;
            transform: translateX(100vw);
            overflow-y: scroll !important;
            .frasesTitle{
                p{
                    font-size: 20px;
                    color: $FirstColor;
                    font-weight: 500;
                    margin-bottom: 10px;
                }
            }
            .textFrases{
                display: flex;
                color: #929193;
                align-items: center;
                img{
                   margin-inline: 4px;
                }
            }
            &::-webkit-scrollbar{

                width: 5px;
                transition: all 1s;
            }
            &::-webkit-scrollbar-thumb{
                background: $FirstColor;
                border-radius: 10px;
                transition: all 1s;
                &:hover{
                    background: #A02A71;
                }
            }
            p{
                color: rgba(255, 255, 255, 0.33);
            }
        
            .savedWord{
                cursor: pointer;
                padding-inline: 20px;
                border-radius: 7px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 75%;
                padding-block: 2vh;
                background-color: $whiteColor;
                color: $backgroundColor;
                margin-bottom: 25px;
                transition: all .5s;
                &:active{
                    background-color: #F1E8FA;
                }
                &:hover{
                    box-shadow: 0px 0px 0px 4px #C9308C;
                    p{
                    color: $FirstColor;
                    
                }}

                p{  
                    
                    max-width: 100%;
                    transition: all .5s;
                    color: #717171;
                    font-weight: 500;
    
                }
            }
        }
        .inicioInfo{
    
        
            p{
                font-size: 14px;
                margin-inline: 20px;
                text-align: center;
                color: rgba(255, 255, 255, 0.33);
            }
        }
    

}
footer{

    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100vw;
    z-index: 10;
    .resultFraseContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10vh;
        background-color: #4F203E;
        .saveButton{
            position: relative;
            margin-top: 2px;
            margin-right: 3%;
            
        }
        .removeOption{
            margin-right: 2%;
        }
        p{  
            display: flex;
            margin-top: 5px;
            align-items: center;
            height: 100%;
            white-space: nowrap;
            overflow-x: scroll;
            padding-left: 5%;
            width: 85%;
            font-weight: 300;
            color: rgba(255, 255, 255, 0.45);
            &::-webkit-scrollbar{

                height: 7px;
                transition: all 1s;
            }
            &::-webkit-scrollbar-thumb{
                background: $whiteColor;
                border-radius: 10px;
                transition: all 1s;
                &:hover{
                    background: #f4e9ff9c;
                }
            }
        }
        button{
            position: relative;
            width: 10%;

            display: flex;
            justify-content: center;
            align-items: center;
            background: transparent;
            cursor: pointer;
        }
    }
    .playAndSaveContainer{
        height: 17vh;
        background-color: $FirstColor;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        gap: 2.5%;
        .playButton{
            color: $FirstColor;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-inline: 7%;
            height: 55%;
            width: 50%;
            cursor: pointer;
            border-radius: 400px;
            background-color: $whiteColor;
            transition: all .5s;
            &:hover{
                transform: scale(1.02);
            }
        }
        .voiceButton{
            cursor: pointer;
            border-radius: 400px;            background-color: $whiteColor;
            display: grid;
            justify-content: center;
            align-items: center;
            height: 50%;
            width: 15%;
            max-width: 60px;
            transition: all .5s;
            background-repeat: no-repeat;
            background-position: center;
            transition: all .5s;
            background-image: url(../assets/svg/icons/save.svg);
            &:hover{
                transform: scale(1.03);
            }

        }
    }
}
.voiceButtonClose{
    background-image: url(../assets/svg/icons/closeGender.svg) !important;
}
.createToggleONBackground{
    opacity: 100 !important;

    pointer-events: all !important;
    z-index: 100 !important;
    background-color: rgba(0, 0, 0, 0.41) !important;
}
// .createToggleON{
//     transform: translateY(0vh) !important;
// }
.createToggle{
    // transform: translateY(-100vh);
    transition: all .5s;
    width: 100vw;
    height: 100vh;
    background-color: #1B191D;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    position: fixed;
    z-index: 1;
    div{
        display: flex;
        flex-direction: column;
        justify-content: center;

        height: 35%;
        width: 100%;
        background-color: #262329;
        p{
            color: $whiteColor;
            font-size: 14px;
            text-align: center;
            margin-inline: 15%;
            font-weight: 500;
        }
        div{
            margin-top: 15px;
            margin-bottom: 15px;
            display: flex;
            flex-direction: column;

            align-content: center;
            justify-content: center;

            input{
                color: $whiteColor;
                margin-inline: 10vw;
                padding-inline: 15px;
                background: #1F1C21;
                border-radius: 7px 7px 0px 0px;
                height: 20vh;
            }
            button{
                cursor: pointer;
                margin-inline: 10vw;
                border-radius: 0px 0px 7px 7px;
                background-color: $FirstColor;
                color: $whiteColor;
                font-weight: 500;
                transition: all .5s;
                height: 20vh;
                &:hover{
                    background-color:#A02A71 ;
                }
            }
        }
    }
    .cancelButton{
        background-color: transparent;

        font-weight: 500;

        p{
            transition: all .5s;
            color:#767478 ;
            &:hover{
                color:#CDCCCD;
            }
        }
    }
}
//CodePen
$color_1: #AAAAAA;
$color_2: $whiteColor;
$color_3: $FirstColor;
$color_4: #333;
$color_5: #232323;


.menuGenderBackgroundON{
    
    opacity: 100 !important;

    pointer-events: all !important;
    background-color: rgba(0, 0, 0, 0.41) !important;
}
.menuGenderBackground{
    transition: all .5s;
    z-index: 2;
    height: 100vh;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.41) !important;

    pointer-events: none;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
.speakerVoice{
    font-size: 18px;
    color: $FirstColor;
    font-weight: 600;
    text-align: center;
    margin-top: 15px;

}
.container {
    width: 100vw;
    background-color: #262329;
	margin: 40px auto;
	height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;align-items: center;
padding-inline: 30px;
padding-block: 25px;

    div{
        display: flex;
        justify-content: center;
        width: 100vw;
    }
    .containerConfig{
        margin-block: 15px;
            display: flex;
            height: 20vh;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 90%;
            background-color: #1E1C21;
            border-radius: 7px;
            .containerRange{
                height: 50%;
                background-color: transparent;

                width: 85%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                transition: all .5s;
                &:hover{
                    p{
                        color: $FirstColor;
                    }
                }
                p{  
                    margin-right: 10px;
                    color: $whiteColor;
                    font-size: 14px;
                    font-weight: 500;
                    transition: all .5s;
                }
                
            #rate{

                width:inherit;
                border-radius: 30px;
                height: 10px; /* Specified height */
                background: #424242; /* Grey background */
                outline: none; /* Remove outline */
                opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
                -webkit-transition: .2s; /* 0.2 seconds transition on hover */
                transition: opacity .2s;
            
        
    } 
            }

    select{
        color: $whiteColor;
        font-size: 14px;
        height: 50%;
        font-weight: 500;
        background-color: transparent;        padding-block: 2vh;
        padding-left: 10px;
        padding-right: 10%;
        border-radius: 7px;
        width: 90%;

        background-image: url(../assets/svg/icons/Vector.svg); 
        background-repeat: no-repeat;
        background-position: 96%;
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;
        appearance: none;
        transition: all .5s;
        &:hover{
            color: $FirstColor;
        }
        option{
            background-color: #1B191D;
            &:hover{
                color: $whiteColor;
            }
        }
    }
    select::-ms-expand {
        display: none; 
        }
        

    button{

        color: #7F7A85;
        font-weight: 500;
        font-size: 14px;
        cursor: default;
        transition: all .5s;
        &:hover{
            color: #1b191ddf;
        }
    }
	ul {

		list-style: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
        li{
            cursor: pointer;
            font-size: 14px;
            background-color: #E4DBEC;
            height: 8vh;
            margin-block: 15px;
            padding-inline: 20px;
            font-weight: 500;
            display: flex;
            border-radius: 7px;
            justify-content: space-between;
            align-items: center;
            label{
                cursor: pointer;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
            }
            input{
                
            }

        

        }
    }
    
    }
}
.closeGenderSelector{
    color: #7F7A85;
    background: none;
    font-size: 14px;
    font-weight: 500;
    transition: all .5s;
    &:hover{
        color: white;
    }
}
.noResult{
    color: #7F7A85;
    transition: all .5s;
    &:hover{
        color: $whiteColor;
    }
}